RewriteEngine on
RewriteBase /
AddType 'application/json' txt

RewriteRule "sessions/(.*)" "/ocpi/session.php?path=$1" [QSA,L]     
RewriteRule locations/(.*) "/ocpi/location.php?path=$1" [QSA,L]     
RewriteRule "tokens" "/ocpi/token.php" [QSA,L]     

